@media all and (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }

  .comm-center-head {
    text-align: center;
    margin-bottom: 50px;

    .comm-small-title {
      margin-bottom: 12px;
    }
  }

  .comm-small-title {
    font-size: 18px;
    color: var(--nblue);
    font-weight: 400;
  }

  .comm-section {
    padding: 86px 0;
  }

  .about-circ-box-wrap h3 {
    font-size: 28px;
  }

  .about-circ-box-wrap {
    height: 250px;
    width: 250px;
  }

  .solutions-media {
    height: 500px;
    width: 500px;
    margin: auto;
  }

  .sol-text {
    padding: 32px 0;
  }

  .hiw-illus-anim {
    width: 250px;
    height: 420px;
    position: relative;
  }

  .hiw-illus-wrap {
    height: 480px;
  }

  .banner-txt-about {
    margin-bottom: 80px;
  }

  .founder-box {
    height: 300px;
    width: 300px;
  }

  .partner-logo {
    height: 200px;
    width: 200px;
  }

  :root {
    --circRadius: 430px;
  }

  .wealth-title {
    font-size: 42px;
    max-width: 65%;
  }

  .wealth-para {
    max-width: 30%;

    p {
      font-size: 20px;
    }
  }
}

@media all and (max-width: 1280px) {
  .container {
    max-width: 1200px;
  }

  .comm-section {
    padding: 80px 0;
  }

  .comm-head-1 {
    font-size: 46px;
  }

  .get-slice-phone-1 {
    transform: translate(-160px, -160px);
    width: 80%;
  }

  .get-slice-phone-2 {
    transform: translate(-60px, 10px);
    width: 80%;
  }

  .contact-wrap .contact-detail-wrap {
    margin-bottom: 52px;
  }

  .mission-box-coloured .comm-head-2 {
    margin-bottom: 16px;
  }

  .mission-icon {
    height: 90px;
    width: 90px;
  }

  .wealth-title {
    font-size: 32px;
  }

  .wealth-para {
    max-width: 40%;
  }
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }

  .get-slice-left {
    margin: 0 48px;
    padding: 30px 0;
  }

  .get-slice-left .comm-head-2 {
    margin-bottom: 30px;
    line-height: 1.6;
  }

  .get-slice-scan h3 {
    font-size: 24px;
    max-width: 150px;
  }

  .get-slice-phone-1 {
    transform: translate(-120px, -150px);
    width: 75%;
  }

  .get-slice-phone-2 {
    transform: translate(-60px, 0px);
    width: 75%;
  }

  .contact-detail-icon {
    height: 60px;
    width: 60px;
    border: 1px solid #000;
    margin-right: 24px;

    i {
      font-size: 28px;
    }
  }

  .contact-illus {
    height: 400px;
  }

  .hiw-illus {
    height: 400px;
  }

  .hiw-text p {
    font-size: 18px;
    line-height: 1.6;
  }

  .skewed-wrap {
    height: 80px;
    width: 80px;
  }

  .skewed-number {
    font-size: 32px;
  }

  .hiw-text .skewed-wrap {
    margin-bottom: 24px;
  }

  .hiw-text {
    max-width: 440px;
  }

  .slice-ad-box p {
    font-size: 16px;
  }

  .slice-ad-icon {
    height: 84px;
    width: 84px;
  }

  .slice-ad-box h3 {
    margin-bottom: 18px;
  }

  .who-right {
    padding-left: 30px;
  }

  .who-left {
    height: 400px;
  }

  .process-right,
  .process-left {
    width: 50%;
  }

  .hiw-illus-anim {
    width: 200px;
    height: 350px;
    position: relative;
  }

  .hiw-illus-wrap {
    height: 400px;
  }

  .hiw-illus-prop-cube {
    height: 80px;
    width: 80px;

    &-2 {
      height: 80px;
      width: 80px;
    }

    &-3 {
      height: 80px;
      width: 80px;
    }

    &-4 {
      height: 80px;
      width: 80px;
    }

    &-5 {
      height: 80px;
      width: 80px;
    }
  }

  .faq-list-box {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .faq-circle {
    width: 40px;
    height: 40px;
    margin-right: 16px;

    span {
      font-size: 20px;
    }
  }

  .comm-head-6 {
    font-size: 17px;
  }

  .about-circ-box-wrap {
    height: 200px;
    width: 200px;
  }

  .about-circ-box-wrap h3 {
    font-size: 24px;
  }

  .mission-box-coloured p {
    font-size: 16px;
  }

  .mission-box-coloured {
    padding: 16px;
  }

  .mission-icon {
    margin-bottom: 16px;
  }

  .mission-box {
    height: 370px;
  }

  .noiseContain {
    padding: 16px;
  }

  .founder-box {
    height: 260px;
    width: 260px;
    padding: 18px;
  }

  .team-wrap .founder-box {
    height: 180px;
    width: 180px;
    padding: 12px;
  }

  .partner-logo {
    height: 180px;
    width: 180px;
  }

  .tooltip p {
    font-size: 16px;
  }

  .tooltip {
    width: 200px;
    padding: 12px;
  }

  .promise-numbers {
    height: 50px;
    width: 50px;
    font-size: 24px;
  }

  .promise-numbers {
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }

  :root {
    --circRadius: 380px;
  }

  .solutions-media {
    height: 420px;
    width: 420px;
  }

  .sol-text {
    padding: 24px 0;
  }

  .sol-text .txt-wrap-sol h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--black);
  }

  .promise-numbers-1 .tooltip::after {
    left: 46%;
    bottom: -28px;
  }

  .promise-numbers-2 .tooltip::after {
    left: -24px;
    bottom: 38%;
    transform: rotate(90deg);
  }

  .promise-numbers-3 .tooltip::after {
    left: -24px;
    bottom: 38%;
    transform: rotate(90deg);
  }

  .promise-numbers-4 .tooltip::after {
    right: -24px;
    bottom: 28%;
    transform: rotate(-90deg) scaleX(-1);
  }

  .promise-numbers-5 .tooltip::after {
    right: -24px;
    bottom: 28%;
    transform: rotate(-90deg) scaleX(-1);
  }

  .resale-image {
    height: 260px;
  }

  .header-list li {
    padding: 7px 14px;
  }

  .menuBtn .button {
    width: 161px;
  }
}

@media all and (max-width: 1024px) {

  .qr-code-link,
  .get-slice-scan {
    display: none;
  }

  .get-slice-btns {
    margin-bottom: 0;
  }

  .get-slice-btns a:last-of-type {
    margin-right: 0;
  }

  .container {
    max-width: 990px;
  }

  .comm-section {
    padding: 72px 0;
  }

  .comm-head-1 {
    font-size: 36px;
  }

  .comm-head-2 {
    font-size: 32px;
  }

  .comm-head-3 {
    font-size: 28px;
  }

  .comm-head-4 {
    font-size: 22px;
  }

  .header-list li {
    padding: 7px 10px;
  }

  .menuBtn .button {
    width: 140px;
    padding: 0 12px;
  }

  // .swiper {
  //   padding-bottom: 40px !important;
  // }
}

@media all and (max-width: 990px) {
  .get-slice-box {
    min-height: 300px;
  }

  .get-slice-btns.footer-slice-btn {
    a {
      width: 150px;
    }
  }

  .container {
    max-width: 768px;
  }

  .contact-detail-txt h4 {
    font-size: 14px;
  }

  .contact-detail-txt h3 {
    font-size: 16px;
  }

  .contact-wrap .contact-detail-wrap {
    margin-bottom: 40px;
  }

  .contact-illus {
    height: 340px;
  }

  .get-slice-phone-1 {
    transform: translate(-200px, -90px);
    width: 80%;
  }

  .get-slice-phone-2 {
    transform: translate(-190px, 60px);
    width: 80%;
  }

  .hiw-illus {
    height: 300px;
  }

  .hiw-text p {
    font-size: 16px;
    line-height: 1.6;
  }

  .skewed-wrap {
    height: 60px;
    width: 60px;
  }

  .skewed-number {
    font-size: 24px;
    border: 1.5px solid #000;
  }

  .skewed-bg {
    left: 6px;
    top: 4px;
    border: 1.5px solid #000;
  }

  .hiw-text {
    max-width: 330px;
  }

  .hiw-wrap .f-row {
    align-items: center;
  }

  .slice-ad-box {
    margin: auto;
    max-width: 520px;
    margin-bottom: 30px;
  }

  .who-right {
    padding-left: 0px;
    max-width: 420px;
    margin: auto;
  }

  .who-left {
    height: 300px;
    margin-bottom: 36px;
  }

  .about-circ-box-wrap {
    height: 200px;
    width: 200px;
  }

  .about-circ-box-wrap h3 {
    font-size: 24px;
  }

  .about-banner {
    height: auto;
    padding-bottom: 60px;
  }

  .footer-list ul li {
    margin: 0 10px;
  }

  .footer-top {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--black);
  }

  .hiw-illus-wrap {
    height: 320px;
  }

  .hiw-illus-anim {
    width: 160px;
    height: 275px;
  }

  .hiw-illus-prop-cube {
    height: 60px;
    width: 60px;
    left: -20px;
  }

  .hiw-illus-prop-cube-2 {
    height: 60px;
    width: 60px;
    left: -20px;
  }

  .hiw-illus-prop-cube-3 {
    height: 60px;
    width: 60px;
    left: -20px;
  }

  .hiw-illus-prop-cube-4 {
    height: 60px;
    width: 60px;
    left: -20px;
  }

  .hiw-illus-prop-cube-5 {
    height: 60px;
    width: 60px;
    left: -20px;
  }

  .hiw-illus-prop-4 {
    max-width: 80px;
  }

  .hiw-illus-prop-3 {
    max-width: 50px;
  }

  .hiw-illus-prop-1 {
    max-width: 80px;
  }

  .hiw-illus-prop-2 {
    max-width: 80px;
  }

  .banner-txt-about {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .about-circ-box-wrap {
    height: 180px;
    width: 180px;
  }

  .about-circ-box-wrap h3 {
    font-size: 22px;
  }

  .mission-box {
    margin-bottom: 40px;
    height: auto;
  }

  .mission-icon {
    height: 80px;
    width: 80px;
  }

  .founder-box {
    height: 220px;
    width: 220px;
    padding: 14px;
  }

  .partner-logo {
    height: 160px;
    width: 160px;
  }

  .solutions-media {
    height: 330px;
    width: 330px;
  }

  .sol-text {
    padding: 18px 0;
  }

  .promise-circle {
    display: none;
  }

  .promise-wrap {
    height: auto;
    width: auto;
    flex-direction: column;
    background: none;
    max-width: 500px;
    margin-top: 60px;

    &::after {
      content: '';
      height: 80%;
      border: 2px dashed var(--black);
      position: absolute;
      z-index: -1;
      opacity: 0.6;
    }
  }

  .promise-numbers {
    position: static;
    transform: none;
    margin: 30px 0;

    .tooltip {
      transition: 0.3s;
    }

    // &:hover {
    //   .tooltip {
    //     transform: scale(1.2);
    //   }
    // }
  }

  .promise-numbers-1 .tooltip {
    top: auto;
    left: 0px;
  }

  .promise-numbers-2 .tooltip {
    right: 0px;
    left: auto;
  }

  .promise-numbers-3 .tooltip {
    left: 0px;
  }

  .promise-numbers-4 .tooltip {
    right: 0px;
  }

  .promise-numbers-5 .tooltip {
    left: 0px;
  }

  .promise-numbers-1 .tooltip::after {
    right: -24px;
    bottom: 28%;
    left: auto;
    transform: rotate(-90deg) scaleX(-1);
  }

  .promise-numbers-2 .tooltip::after {
    left: -24px;
    bottom: 38%;
    transform: rotate(90deg);
  }

  .promise-numbers-3 .tooltip::after {
    right: -24px;
    bottom: 34%;
    left: auto;
    transform: rotate(-90deg) scaleX(-1);
  }

  .promise-numbers-4 .tooltip::after {
    left: -24px;
    bottom: 38%;
    right: auto;
    transform: rotate(90deg);
  }

  .promise-numbers-5 .tooltip::after {
    right: -24px;
    bottom: 28%;
    transform: rotate(-90deg) scaleX(-1);
  }

  .image-404 {
    width: 80%;
  }

  .curious-wrap {
    flex-direction: column;
    gap: 0px;
  }

  .curious-left {
    br {
      display: none;
    }
  }

  .qna-box {
    max-width: 100%;
    position: initial;
  }
}

@media all and (max-width: 768px) {
  :root {
    --header-height: 50px;
    --headerFixedHeight: 50px;
  }

  .logo {
    width: 100px;
  }


  .menuBtn .button {
    width: auto;
    padding: 0 16px;
  }

  .container {
    max-width: 100%;
  }

  .contact-wrap {
    display: flex;
    flex-wrap: wrap;

    .contact-detail-wrap {
      width: 50%;
    }
  }

  .contact-wrap .contact-detail-wrap:last-child {
    margin-bottom: auto;
  }

  .get-slice-box {
    padding-top: 250px;
  }

  .get-slice-phone-2 {
    transform: translate(-75%, -70px);
    width: 120%;
  }

  .get-slice-phone-1 {
    transform: translate(-20%, -140px);
    width: 120%;
    left: 0;
  }

  .get-slice-bg {
    left: 0;
  }

  .get-slice-left {
    margin: auto;
    padding: 60px 20px 30px;
  }

  .about-circ-box-wrap {
    height: 180px;
    width: 180px;
  }

  .footer-logo-wrap {
    margin-bottom: 20px;
  }

  .comm-head-4 {
    font-size: 20px;
  }

  .comm-head-2 {
    font-size: 28px;
  }

  .hiw-text {
    max-width: none;
    margin-top: 20px;
  }

  .hiw-sticky {
    flex-direction: column;
    top: 60px;
    justify-content: center;
  }

  .hiw-left {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .hiw-wrap {
    text-align: center;
    margin-bottom: 24px;
  }

  .hiw-right {
    position: relative;
    width: 100%;
    max-width: 380px;
  }

  .about-circ-box-wrap {
    height: 160px;
    width: 160px;
  }

  .about-circ-box-wrap h3 {
    font-size: 20px;
  }

  .process-wrap {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .process-left {
    width: 100%;
    padding-right: 0;
  }

  .solutions-left-wrap {
    max-width: 500px;
    margin: auto;
  }

  .solutions-media {
    height: auto;
    max-width: 350px;
    width: 100%;
  }

  .founder-wrap {
    max-width: 500px;
    margin: auto;
    // margin-bottom: 36px;
  }

  .get-slice-scan {
    justify-content: space-between;
  }

  .get-slice-img {
    height: 114px;
    width: 114px;
  }

  .get-slice-scan {
    justify-content: space-between;
  }

  .get-slice-left .comm-head-2 {
    text-align: center;
  }

  .glitch-wrap {
    width: 100%;
  }

  .image-404 {
    display: none;
  }
}

@media all and (max-width: 640px) {
  .get-slice-box {
    padding-top: 200px;
  }

  .hiw-text .skewed-wrap {
    margin: auto;
    margin-bottom: 24px;
  }

  .hiw-text-mobile {
    display: block;
  }

  .hiw-text-mobile {
    max-width: 316px;
    margin: auto;
    margin-top: 36px;
    text-align: center;

    .comm-head-3 {
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
    }
  }

  .slice-ad-box {
    margin: auto;
    max-width: 320px;
    margin-bottom: 30px;
  }

  .slice-ad-icon {
    height: 64px;
    width: 64px;
  }

  .about-circ-wrap {
    margin-top: 16px;
  }

  .banner-txt-about {
    max-width: 400px;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .terms-pages a {
    padding-left: 20px;
    font-size: 14px;
  }

  .footer-left-wrap {
    margin-top: 20px;
    justify-content: flex-start;
  }

  .about-circ-box-wrap {
    height: 140px;
    width: 140px;
  }

  .about-circ-box-wrap h3 {
    font-size: 16px;
  }

  .partner-logo {
    height: 130px;
    width: 130px;
  }

  .team-wrap .founder-box {
    height: 140px;
    width: 140px;
    padding: 10px;
  }

  // .founder-box-wrap {
  //   margin-bottom: 12px;
  // }

  .footer-box {
    padding: 72px 0;
  }

  .footer-logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    .footer-txt {
      text-align: center;
    }
  }

  .footer-head {
    text-align: center;
    margin-top: 24px;
  }

  .footer-list,
  .footer-left-wrap {
    display: flex;
    justify-content: center;
  }

  .footer-left-wrap {
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .get-slice-img {
    width: 90px;
    height: auto;
  }

  .get-slice-btns a {
    height: 40px;
  }

  .get-slice-btns.banner-slice-btns {

    a {
      width: 100%;
      height: 50px;
    }
  }
}

@media all and (max-width: 576px) {
  .contact-detail-icon {
    height: 50px;
    width: 50px;
    margin-right: 18px;
  }

  .contact-detail-icon i {
    font-size: 24px;
  }

  .contact-illus {
    height: 100%;
    max-height: 300px;
  }

  .get-slice-box {
    padding-top: 160px;
  }

  .get-slice-phone-1 {
    transform: translate(-20%, -110px);
    width: 120%;
    left: 0;
  }

  .get-slice-phone-2 {
    transform: translate(-75%, -60px);
    width: 120%;
  }

  .get-slice-left .comm-head-2 {
    margin-bottom: 20px;
  }

  .hiw-text p {
    font-size: 14px;
    line-height: 1.5;
  }

  .promise-wrap::after {
    left: 24px;
  }

  .promise-wrap {
    height: auto;
    width: auto;
    flex-direction: column;
    background: none;
    max-width: 300px;
    margin-top: 40px;
    align-items: flex-start;
  }

  .promise-numbers {
    position: static;
    transform: none;
    margin: 40px 0;
  }

  .promise-numbers-1,
  .promise-numbers-2,
  .promise-numbers-3,
  .promise-numbers-4,
  .promise-numbers-5 {
    .tooltip {
      right: 0px;
      left: auto;
    }
  }

  .promise-numbers-1 .tooltip::after {
    left: -24px;
    bottom: 38%;
    right: auto;
    transform: rotate(90deg);
  }

  .promise-numbers-2 .tooltip::after {
    left: -24px;
    bottom: 38%;
    right: auto;
    transform: rotate(90deg);
  }

  .promise-numbers-3 .tooltip::after {
    left: -24px;
    bottom: 34%;
    right: auto;
    transform: rotate(90deg);
  }

  .promise-numbers-4 .tooltip::after {
    left: -24px;
    bottom: 38%;
    right: auto;
    transform: rotate(90deg);
  }

  .promise-numbers-5 .tooltip::after {
    left: -24px;
    bottom: 28%;
    right: auto;
    transform: rotate(90deg);
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 25px;

    .footer-txt {
      margin-bottom: 24px;
    }
  }

  .footer-top {
    padding-bottom: 0;
  }

  .terms-pages a {
    padding-left: 10px;
  }

  .glitch,
  .glow {
    font-size: 160px;
  }

  .contact-wrap .contact-detail-wrap {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .comm-head-1 {
    font-size: 28px;
    font-weight: 700;
  }

  .comm-head-2 {
    font-size: 30px;
  }

  .comm-head-3 {
    font-size: 21px;
  }

  .comm-head-4 {
    font-size: 18px;
  }

  .comm-head-5 {
    font-size: 16px;
  }

  .comm-head-6 {
    font-size: 14px;
  }

  .comm-head-7 {
    font-size: 14px;
  }

  .contact-wrap .contact-detail-wrap {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .contact-wrap .contact-detail-wrap:last-child {
    margin-bottom: 40px;
  }

  .get-slice-bg {
    height: 55%;
  }

  .get-slice-box {
    padding-top: 120px;
  }

  .get-slice-section {
    padding-top: 100px;
  }

  .get-slice-left {
    padding: 50px 20px 30px;
  }

  .who-left {
    max-height: 300px;
    height: 100%;
  }

  .about-circ-box-wrap {
    height: 160px;
    width: 160px;
  }

  .footer-list ul {
    flex-wrap: wrap;
  }

  .social-list {
    ul li {
      margin-bottom: 0px;
      width: auto;
      margin-right: 16px;
    }
  }

  .hiw-illus-wrap {
    height: 250px;
  }

  .hiw-illus-anim {
    width: 120px;
    height: 210px;
  }

  .hiw-sticky {
    justify-content: center;
  }

  .partner-logo {
    height: 110px;
    width: 110px;
    padding: 12px;
    margin: 10px auto;
  }

  .comm-center-head {
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .team-wrap .founder-box {
    height: 110px;
    width: 110px;
    padding: 8px;
  }

  // .founder-box-wrap {
  //   margin-bottom: 10px;
  // }

  .team-wrap .founder-wrap {
    margin: 16px 0;
  }

  .founder-txt h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .founder-txt h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  .hiw-text h4 {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .header-box {
    padding-left: 20px;
    margin-right: 0;
  }

  .upcoming-image {
    height: 240px;
  }

  .swiperLiveProperties,
  .swiperGrowMore,
  .swiperUpcoming,
  .swiperResale {
    margin-top: 20px;
  }

  .about-bg img,
  .about-bg video,
  .about-bg dotlottie-player {
    object-fit: contain;
    object-position: bottom;
  }

  .comm-head-2 {
    font-size: 24px;
  }

  .foot-addr {
    max-width: 100%;
  }
}

@media all and (max-width: 400px) {
  .get-slice-phone-2 {
    transform: translate(-75%, -60px);
    width: 130%;
  }

  .get-slice-phone-1 {
    transform: translate(-20%, -110px);
    width: 130%;
  }

  .hiw-illus {
    max-height: 300px;
    height: 100%;
  }

  .hiw-illus-wrap {
    height: 220px;
  }

  .mission-box-coloured p {
    font-size: 14px;
  }

  .footer-list ul li a {
    font-size: 14px;
  }

  .footer-logo {
    margin: auto;
    margin-bottom: 16px;
  }

  .menuBtn .button {
    width: auto;
    padding: 0 10px;
    font-size: 14px;
  }

  .menu {
    padding: 0 16px;
  }

  .about-circ-box-wrap {
    height: 120px;
    width: 120px;
  }

  .about-circ-box-wrap h3 {
    font-size: 14px;
  }

  .about-row {
    justify-content: center;

    .f-col {
      width: auto;
    }
  }

  .banner-txt-about {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 360px) {
  .get-slice-phone-2 {
    transform: translate(-75%, -30px);
    width: 140%;
  }

  .get-slice-phone-1 {
    transform: translate(-24%, -80px);
    width: 140%;
  }
}